.mailing{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    height: 100px;
    margin-bottom: 5%;
    border-top: #6f827d 2px solid;
    border-bottom: #6f827d 2px solid;
}
.mailing__title{
    padding-left: 25%;
}
.mailing__title_font{
    font-size: 35px;
}
.mailing__input{
    justify-self: end;
    margin-left: 200px;
}
.input-form{
    font-size: 14px;
    padding: 11.2px 95px 11px 15px;
}
.mailing__btn{
    justify-self: center;
    margin-right: 150px;
}
@media screen and (max-width: 1150px) {

    .mailing{
        grid-template-columns: none;
        max-width: 700px;
        height: 250px;   
        margin: 0 auto;  
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .mailing__title{
        padding: 0;
        text-align: center;
    }
    .mailing__input{
        margin: 0 auto;       
    }
    .mailing__btn{
        margin: 0 auto;
    }
}